body {
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Bitter', Georgia, serif;
    text-align: center;
}
table {
    margin: 0 auto;
}
td {
    width: 75px;
    height: 75px;
    background: #2d2d2d;
    color: #fff;
    border: 10px solid #fff;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.pointer {
    cursor: pointer;
}
.levels {
    text-align: center;
}
.how-to {
    width: 300px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1em;
    background: #f9f9f9;
}
.winner {
    border: 10px solid #c5c5c5;
}
li {
    font-family: 'Raleway', sans-serif;
    line-height: 2em;
}
button {
    padding: 1em;
    font-size: 1.2em;
    font-family: 'Bitter', Georgia, serif;
    color: #000;
    margin-bottom: 1em;
}
.level {
    background: #fff;
}
a:link, a:hover, a:active, a:visited {
    font-size: 1.5em;
    padding: 1em;
    font-family: 'Raleway', sans-serif;
    color: #2d2d2d;
    background: #f9f9f9;
    margin: 1em;
    text-shadow: 1px 1px 1px #fff;
    display: inline-block;
}
.center {
    text-align: center;
}

@media screen and (min-height: 660px) {
    footer p {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}